<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easylearn.mapper.SectionMapper">

    <resultMap id="BaseResultMap" type="com.easylearn.pojo.entity.Section">
            <id property="sid" column="sid" jdbcType="INTEGER"/>
            <result property="cid" column="cid" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="pos" column="pos" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        sid,cid,name,
        pos
    </sql>
</mapper>
