<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easylearn.mapper.TmtypeMapper">

    <resultMap id="BaseResultMap" type="com.easylearn.pojo.entity.Tmtype">
            <id property="tid" column="tid" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        tid,name
    </sql>
</mapper>
